body {
  font-family: monospace;
}

#target {
  font-size: 10em;
}

.upgrade {
  display: flex;

  padding-left: 20px;
  padding-right: 10px;
  margin: 10px;

  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;

  cursor: pointer;

  transition: all 100ms;
}

.upgrade:hover {
  border-color: grey;

  transition: all 100ms;
}

.purchase {
  display: flex;
  flex: 1;
  align-items: center;
}

.name {
  flex: 1;
  padding-right: 20px;
}

.cost {
  padding: 10px;
  margin-left: 10px;
  background-color: pink;
  border-radius: 5px;
}

.cost:before {
  content: ' 🦄 ';
}

.increase {
  padding: 10px;
  background-color: lightgreen;
  border-radius: 5px;
}

.increase:before {
  content: '⚙️';
}

#shop {
  display: flex;
}
