body {
  font-family: monospace;
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
}

section {
  overflow: scroll;
}

#target {
  font-size: 10em;
}

.upgrade {
  display: flex;

  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  margin-left: 0;

  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;

  cursor: pointer;

  transition: all 100ms;
}

.upgrade:hover {
  border-color: grey;

  transition: all 100ms;
}

.purchase {
  display: flex;
  flex: 1;
  align-items: center;
}

.name {
  flex: 1;
  padding-right: 20px;
}

.cost {
  padding: 10px;
  margin-left: 10px;
  background-color: #9adadf;
  border-radius: 5px;
}

.cost:before {
  content: ' 🦄 ';
}

.increase {
  padding: 10px;
  background-color: #90eab0;
  border-radius: 5px;
}

#snacks .upgrade .increase:before {
  content: '🛠';
}

#equipment .upgrade .increase:before {
  content: '⚙️';
}

#shop {
  display: flex;
}
